<ion-header>
  <ion-toolbar color="cor-angular">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Variável</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item style="margin-top: 50px; margin-left: 75px; margin-right: 75px;">
    <ion-label  position="floating">Título</ion-label>
    <ion-input class="ion-text-center" [(ngModel)]="var1" required></ion-input>
  </ion-item>

  <ion-item style="margin-top: 50px; margin-left: 75px; margin-right: 75px;">
    <ion-label  position="floating">Sub-título</ion-label>
    <ion-input class="ion-text-center" [(ngModel)]="var2" required></ion-input>
  </ion-item>

  <ion-item style="margin-top: 50px; margin-left: 75px; margin-right: 75px;">
    <ion-label  position="floating">Comentário</ion-label>
    <ion-input class="ion-text-center" [(ngModel)]="var3" required></ion-input>
  </ion-item>

  <ion-card style="margin-top: 20%;">
    <ion-card-title style="margin-top: 5%; margin-left: 7%; font-size: 35px;">Título: {{var1}}</ion-card-title>
    <ion-card-subtitle style="margin-top: 5%; margin-left: 7%; font-size: 25px;">Sub-título: {{var2}}</ion-card-subtitle>
    <ion-label style="margin-top: 5%; margin-left: 7%; font-size: 20px;">Comentário: {{var3}}</ion-label>
  </ion-card>

</ion-content>

