<ion-header>
  <ion-toolbar color="cor-angular">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Criando Projeto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="true" style="height: 100%;">
    
    <ion-slide>
      <div>
        <h1>VSCode</h1>
        <ion-img style="width: 190px;" (click)="site_vscode()"  src="../../../assets/icon/logo-vscode.png"></ion-img>
      </div>

      <div>
        <h1>Node</h1>
        <ion-img (click)="site_node()"  src="../../../assets/icon/node.png"></ion-img>
     </div>

    </ion-slide>

    <ion-slide>
      <div>
        <h1>Extensões VSCode</h1>
        <h3>- Ionic</h3>
        <h3>- Ionic Extension Pack</h3>
        <h3>- Angular Language Service</h3>
      </div>
      
    </ion-slide>

    <ion-slide>
      <div>
        <h1>No CMD:</h1>
        <h3 >1. npm install -g @ionic/cli</h3>
        <h1 >No Menu Ionic:</h1>
        <h3>1. New Project Angular</h3>
        <h3 >2. Blank</h3>
        <ion-button (click)="voltar()" size="large">Voltar</ion-button>
      </div>
    </ion-slide>

  </ion-slides>

</ion-content>
