<ion-header>
  <ion-toolbar color="cor-angular">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Criando Projeto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="true" style="height: 100%;">
    
    <ion-slide>
      <div>
        <h1>VSCode</h1>
        <ion-img class="ion-text-center" (click)="site_vscode()" style="padding-top: 20%;"  src="../../../assets/icon/logo-vscode.png"></ion-img>
      </div>

      <div>
        <h1>Node</h1>
        <ion-img (click)="site_node()" style="width: 110%; padding-top: 20%;"  src="../../../assets/icon/node.png"></ion-img>
     </div>

    </ion-slide>

    <ion-slide>
      <ion-title style="padding-bottom: 450px; font-size: 25px;">Extensões VSCode</ion-title>
      <ion-title class="ion-text-start" style="padding-bottom: 350px;">- Ionic</ion-title>
      <ion-title class="ion-text-start" style="padding-bottom: 300px;">- Ionic Extension Pack</ion-title>
      <ion-title class="ion-text-start" style="padding-bottom: 250px;">- Angular Language Service</ion-title>

      <ion-img style="width: 150px; " src="../../../assets/icon/favicon.png"></ion-img>
      <ion-img style="width: 190px;" src="../../../assets/icon/Angular.png"></ion-img>
      
    </ion-slide>

    <ion-slide>
      <ion-title style="padding-bottom: 400px; font-size: 25px;">No CMD:</ion-title>
      <ion-title style="padding-bottom: 350px; font-size: 18px;">1. npm install -g @ionic/cli</ion-title>
      <ion-title style="padding-bottom: 250px; font-size: 25px;">No Menu Ionic:</ion-title>
      <ion-title style="padding-bottom: 200px; font-size: 18px;">1. New Project Angular</ion-title>
      <ion-title style="padding-bottom: 150px; font-size: 18px;">2. Blank</ion-title>
      <ion-button (click)="voltar()" size="large" style="margin-top: 200px;">Voltar</ion-button>
    </ion-slide>

  </ion-slides>

</ion-content>
