

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="cor-angular">
      <ion-title>Opções</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item (click)="redirecionar('criando-projeto')">Criando Projeto</ion-item>
    <ion-item (click)="redirecionar('ngmodel')">ngModel</ion-item>
    <ion-item (click)="redirecionar('ngif')">ngIf</ion-item>
    <ion-item (click)="redirecionar('ngfor')">ngFor</ion-item>
    <ion-item (click)="redirecionar('variavel')">Variavel</ion-item>
    <ion-item (click)="redirecionar('sugestao')">Deixar Sugestão</ion-item>
    <ion-item (click)="redirecionar('login')">Sair</ion-item>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="cor-angular">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"></ion-content>

<ion-content [fullscreen]="true">
  <div id="container">
    <strong>Pronto para começar no Angular?</strong>
    <p>Aprenda os principais comandos</p><ion-img src="../../assets/icon/Angular.png"></ion-img>
    <p>Clique<a target="_blank" rel="noopener noreferrer" href="https://angular.io"> aqui </a>e confira mais sobre o framework</p>
  </div>
</ion-content>

<ion-footer>
  
</ion-footer>