<ion-header>
  <ion-toolbar color="cor-angular">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sugestão</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header class="ion-text-center" style="margin-top: 100px;">
    <ion-label class="label-el" lines="none">
      Deixe Sua Sugestão
    </ion-label>
    <ion-img src="../../../assets/icon/Angular.png"></ion-img>
  </ion-header>

  <ion-item style="margin-top: 50px; margin-left: 75px; margin-right: 75px;">
    <ion-label  position="floating">Comentário</ion-label>
    <ion-input class="ion-text-center" [(ngModel)]="Sugestao.comentario" required></ion-input>
  </ion-item>

  <ion-item style="margin-top: 50px; margin-left: 75px; margin-right: 75px;">
    <ion-label  position="floating">Usuário</ion-label>
    <ion-input class="ion-text-center" [(ngModel)]="Sugestao.usuario" required></ion-input>
  </ion-item>

</ion-content>

<ion-footer>
    <ion-button size="large" expand="block" color="primary" (click)="btn_enviar()">Enviar</ion-button>
</ion-footer>